/* container ============================ */
.container-header__top {
    padding: 25px 20px 22px 20px; 
}

@media (max-width: 1500px) {
    .container-header__top {
        padding: 25px 20px 5px 20px; 
    }
}

@media (max-width: 1200px) {
    .container-header__top {
        padding: 10px 20px;
    }
}

@media (max-width: 1200px) {
    .address__text span {
        line-height: 34px;
    }
    .address-header__top {
        margin-top: 4px;
    }
}

/* header ============================ */
.header__wrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(1, 1, 1, 0.1);
}
.header__top-items {
    display: flex;
}
.header__top-item {
    display: flex;
}

.top-item__right {
    margin-left: auto;
}

@media (max-width: 600px) {
    .top-item__right {
        margin-left: 32px;
    }
}

@media (max-width: 767px) {
    .top-item__right {
        margin-left: 28px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .top-item__right {
        margin-left: 60px;
    }
}

/* address ============================ */
.address {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.address__text span {
    line-height: 56px;
}

.address-header__top {
    margin: 2px 0px 0px 80px;
}
.address__link {
    color: #1DD3C7;
    text-decoration: none;
}

@media (max-width: 1500px) {
    .address {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
    }
}

@media (max-width: 1500px) {
    .address__text span {
        line-height: 34px;
    }
    .address-header__top {
        margin-top: 4px;
    }
}

@media (max-width: 991px) {
    .address-header__top {
        display: none;
    }
    .address {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
    }
}


/* phones ============================ */
.phones__item {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}
.phones__item a{
    color: #333333;
    text-decoration: none;
}
.phones__item-text {
    font-weight: 300;
}
.phones__item-text span{
    color: #2BA0B2;
}

@media (max-width: 1500px) {
    .phones__item {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
    }
}

@media (max-width: 991px) {
    .phones__item-text {
        display: none;
    }
    .phones-header__top {
        margin: auto;
    }
    .social-media-header__top {
        margin: auto;
    }
}

/* social-media ============================ */
.social-media__items {
    display: flex;
}

.social-media-header__top {
    margin-left: 35px;
}

.social-media__item:not(:last-child) {
    margin-right: 15px;
}

@media (max-width: 600px) {
    .social-media-header__top {
        margin-left: 10px;
        margin-bottom: 7px;
    }
    .social-media__item:not(:last-child) {
        margin-right: 10px;
    }
}

@media (min-width: 991px) {
    .social-media-header__top {
        margin-top: 6px;
    }
}
@media (min-width: 1500px) {
    .social-media-header__top {
        margin-top: 11px;
    }
}



/* navbar ============================ */
.header__wrapper .navbar .container {
    justify-content: flex-end;
}
.navbar__container {
    padding-bottom: 19px;
}
.navbar-toggler {
    padding: 0;
    border: none;
    margin-top: -70px;
}
.navbar-nav {
    padding: 8px 10px;

}
.nav-item:not(:last-child) {
    /* margin-right: 116px; */
}
.navbar-address {
    padding: 10px;
} 
.navbar-expand-lg .navbar-nav .dropdown-menu{
    border: none;
    background-color: #2BA0B2;
    border-radius: 0;
}
.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
}
.dropdown-menu__inner{
    list-style: disc;
    padding-left: 31px;
}
.dropdown-item {
    color: #FFFFFF;
}
.dropdown-menu__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #333333;
    list-style: none;
}
a.nav-link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;; 
    background-color: #2BA0B2;;
}

@media (min-width: 1740px) {
    .navbar-nav__wrapper{
        width: 1100px;
    }
}
@media (max-width: 1740px) and (min-width: 1500px) {

    .navbar-nav__wrapper{
        width: 800px;
    }
}
@media (min-width: 1500px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        margin-top: 37px;
    }
}

@media (max-width: 1500px) and (min-width: 1200px){
    .navbar-nav__wrapper{
        width: 777px;
    }
}

@media (max-width: 1500px) {
    a.nav-link {
        font-weight: 500;
        font-size: 16px;
    }
    .navbar-nav {
        padding-top: 14px;
    }
    .navbar__container {
        padding-bottom: 9px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        margin-top: 25px;
    }
   
}
@media (max-width: 1200px) and (min-width: 991px){
    .navbar-nav__wrapper{
        width: 577px;
    }
}
@media (min-width: 991px) {
    .navbar-address {
        display: none;
    } 
    .navbar-nav {
        border-top: 2px solid #2BA0B2;
        padding-top: 24px;
    }
    .navbar-nav__wrapper{
        justify-content: space-between;
        padding-left: 0;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-menu {
        margin-left: 217px;
        margin-top: -40px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-menu__inner {
        background-color: white;
    
    }
    .dropdown-item__inner {
        color: #000000;
        padding: 20px 0;
    }
}
@media (max-width: 991px) {
    .nav-item:not(:last-child) {
        margin-right: 0px;
    }
    .navbar-nav {
        padding-top: 1px;
    }
    .navbar-address__text {
        margin: 0;
    }
    .dropdown-menu__title {
        display: none;
    }
}

@media (min-width: 600px) {
    .navbar-toggler {
        margin-top: -81px;
    }
}



/* call-doctor ============================ */
.call-doctor {
    font-family: 'Manrope';
    font-style: normal;

    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    background: #1DD3C7;
    border: none;
    padding: 14px 72px;
}
.call-doctor-header {
    margin-top: 26px;
}
.call-doctor__menu {
    display: flex;
    justify-content: center;
}
.call-doctor__menu .call-doctor__menu-pop-up {
    padding: 7px 82px;
}
@media (max-width: 1500px) {
    .call-doctor {
    font-weight: 600;
    font-size: 16px;
    padding: 7px 43px;
    }
    .call-doctor-header {
        margin-top: 16px
    }
}

@media (max-width: 991px) {
    .call-doctor-header {
        display: none;
    }
}
@media (min-width: 991px) {
    .call-doctor__menu {
        display: none;
    }
}


/* card__header ============================ */
.card-img {
    max-width: 1054px;
    position: absolute;
    right: 0;
}
.card-img-overlay {
    background-color: #1DD3C7;
    color: white;
}
.card-header__banner {
    width: 950px;
    height: 448px;
    position: relative;
    border: none;
    border-radius: 0;
    background: #2BA0B2;
    margin-top: 97px;
}

.card-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
}
.card-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}   
.call-doctor-header__banner {
    padding: 8px 65px;
}   
.card-body {
    padding-bottom: 40px;
}

@media (max-width: 1740px) {
    .card-header__banner {
        width: 700px;
        margin-top: 67px;
    }

}
@media (max-width: 1500px) {
    .card-header__banner {
        width: 600px;
        margin-top: 47px;
    }
    .card-title {
        font-size: 32px;
    }
    .card-text {
        font-size: 16px;
    }  

}
@media (min-width: 1500px) {
    .card-header__banner-wrapper {
        margin-right: 107px;
    }

}

@media (max-width: 1268px) {
    .card-header__banner {
        margin-top: 0px;
        width: 490px;
    }
    .card-img {
        max-width: 1000px;
    }

}
@media (max-width: 1146px) {
    .card-header__banner {
        margin-top: 0px;
        width: 490px;
        height: 360px;
    }
    .card-img {
        max-width: 800px;
    }

}
@media (max-width: 991px) {
    .card-header__banner {
        width: 90%;
        text-align: center;
        height: 100%;
        margin: 0 auto;
    }
    .card-header__banner-wrapper {
        width: 100%;
    }
    .card-picture-mobil__header-banner {
        max-height: 200px;
    }
    .card-title {
        padding: 0 51px;
    }
}

@media (min-width: 991px) {
    .card-picture-mobil__header-banner {
        display: none;
    }
    .card-header__banner-wrapper {
        width: 485px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .call-doctor-header__banner {
         width: 400px;
         height: 60px;
    }
}

@media (max-width: 666px) {
    .card-picture-mobil__header-banner {
        max-height: 100px;
    }
    .card-title {
        font-size: 22px;
    }
    .card-text {
        font-size: 16px;
    }  
}
